.events {
  @include page-container;

  margin-top: 70px;

  @include on-tablet {
    margin-top: 88px;
  }

  @include on-desktop {
    margin-top: 200px;
  }

  &__title {
    @include on-tablet {
      text-align: left;
    }
  }
}

.event {
  @include page-grid;

  margin: 40px 0 60px;

  @include on-tablet {
    margin: 48px 0 64px;
  }

  @include on-desktop {
    margin: 56px 0 104px;
  }

  &__painting {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 8;
    }

    &--image {
      cursor: pointer;

      display: block;

      width: 100%;

      object-fit: cover;
      object-position: center;

      @include hover(transform, scale(1.02));

      @include on-tablet {
        height: 520px;
      }
    }
  }

  &__title {
    cursor: pointer;
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 10px;

    &::after {
      content: '';

      position: absolute;
      bottom: 3px;
      transform: translateY(-50%);

      width: 10px;
      height: 10px;
      margin-left: 10px;

      background-color: $orange;

      @include on-tablet {
        bottom: 5px;
        transform: none;

        width: 15px;
        height: 15px;
        margin-left: 15px;
      }
    }

    @include on-tablet {
      grid-column: 1 / 5;
      margin-bottom: 15px;
    }

    @include on-desktop {
      grid-column: 9 / 13;
    }
  }

  &__about {
    color: $light-grey;
  }

  &__info {
    grid-column: 1 / -1;
    align-content: center;

    @include on-tablet {
      grid-column: 1 / 5;
      margin: 40px 0 30px;
    }

    @include on-desktop {
      grid-column: 9 / 13;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0 10px;

      @include on-tablet {
        gap: 20px;
        justify-content: flex-start;
        margin: 0 0 30px;
      }
    }
  }
}

.date {
  font-weight: 700;
  line-height: 150%;
  color: $green;

  @include on-tablet {
    font-size: 14px;
  }
}

.lecture {
  &__wrapper {
    @include page-grid;
  }
  &__image {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 210px;
    margin-inline: -20px;

    @include on-tablet {
      height: 390px;
      margin-inline: 0;
    }

    @include on-desktop {
      height: 550px;
      margin-inline: -55px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    place-self: end center;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: -90px;
    border-bottom: 2px solid rgba($green, 0.25);

    background-color: $white;

    @include on-tablet {
      width: 570px;
      margin-bottom: -60px;
      padding: 45px 55px 50px;
    }

    @include on-desktop {
      margin-bottom: -93px;
      padding: 45px 100px 50px;
    }

    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 24px 21px;

      @include on-tablet {
        margin: 0;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    @include on-tablet {
      margin: 23px 0 0;
      text-align: left;
    }
  }
}
