.footer {
  @include page-grid;
  @include page-container;

  &__top {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;

    @include on-tablet {
      grid-column: 1;
      flex-direction: column;
      gap: 62px;
      justify-content: flex-start;

      margin: 0;
    }
  }

  &__logo {
    @include hover(scale, 1.1);
  }

  &__social-media {
    display: flex;
    grid-column: 1 / -1;
    gap: 20px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-tablet {
      justify-content: space-between;
    }
  }

  &__schedule {
    grid-column: 1;
    padding: 0;
    color: $dark-black;

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400;
    }

    @include on-tablet {
      grid-column: 2 / 4;
    }

    @include on-desktop {
      grid-column: 3 / 5;
    }
  }

  &__nav {
    @include page-grid;

    grid-column: 1 / -1;

    @include on-desktop {
      display: flex;
      grid-column: 8 / 11;
      justify-content: space-between;
    }
  }

  &__up-button {
    grid-column: 1 / -1;
    justify-self: end;
    width: 50px;
    height: 50px;

    @include on-tablet {
      display: none;
    }
  }

  &__line {
    grid-column: 1 / -1;

    height: 1px;
    margin: 20px 0 40px;

    opacity: 0.5;
    background-color: $green;

    @include on-tablet {
      margin: 64px 0;
    }

    @include on-desktop {
      grid-column: 7;
      justify-self: center;

      width: 1px;
      height: 260px;
      margin: 0;
    }
  }

  &__bottom {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 10px;

    margin: 80px 0 50px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      margin: 120px 0 35px;
    }

    @include on-desktop {
      margin-top: 87px;
    }

    p {
      font-size: 12px;
      font-weight: 300;
      line-height: 141%;
      text-align: center;
    }
  }
}

.schedule--footer {
  column-gap: 2 / 4;
}

.schedule__wrapper--footer {
  @include on-tablet {
    flex-direction: column;
  }
}

.contacts {
  color: $dark-black;
  &__title {
    margin-bottom: 20px;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
  }

  @include on-tablet {
    grid-column: 4 / 6;
  }

  @include on-desktop {
    grid-column: 5 / 7;
  }
}
