.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url(../images/baseline-menu-24px.png);
  }

  &--close {
    background-image: url(../images/ri-close-fill.png);
  }

  &--arrow {
    background-image: url(../images/baseline-keyboard_arrow_right-24px.png);
  }

  &--arrow--black {
    background-image: url(../images/baseline-keyboard_arrow_right-24px-black.png);
  }

  &--facebook {
    background-image: url(../images/facebook.png);
  }

  &--instagram {
    background-image: url(../images/instagram.png);
  }

  &--up {
    background-image: url(../images/Arrow-up.png);
  }
}
