.page {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  overflow-x: hidden;

  min-width: $mobile-min-width;
  max-width: $max-width;
  margin: 0 auto;

  color: $dark-black;

  &__body {
    position: relative;
  }
}
