.schedule {
  &__title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &--menu {
      @include on-tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--footer {
      @include on-tablet {
        flex-direction: column;
      }
    }
  }

  &__list--menu {
    @include on-tablet {
      width: 50%;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 150%;

    span {
      font-weight: 600;
    }
  }

  &__note {
    font-size: 14px;
    line-height: 150%;

    span {
      font-weight: 600;
    }

    &--menu {
      @include on-tablet {
        width: 50%;
      }
    }

    &--footer {
      span {
        font-weight: 400;

        @include on-desktop {
          font-weight: 600;
        }
      }
    }
  }
}
