.subscribe {
  margin: 100px 0 50px;

  background-image: url('../images/subscr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    margin-top: 92px;
  }

  @include on-desktop {
    margin-top: 200px;
  }

  &__content {
    @include page-grid;
    @include page-container;

    padding: 88px 0;
    color: $white;
    text-align: center;

    @include on-tablet {
      padding: 82px 0;
    }

    @include on-desktop {
      padding: 163px 0;
    }
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__text {
    grid-column: 1 / -1;
    margin: 20px 0 50px;
    font-size: 18px;
    font-weight: 400;

    @include on-tablet {
      margin: 16px 0 64px;
    }

    @include on-desktop {
      margin: 16px 0 72px;
    }
  }
}

.form {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop {
    grid-column: 4 / 10;
  }

  &__button {
    width: 100%;
    height: 50px;

    @include on-tablet {
      display: flex;
      gap: 16px;
      height: 70px;
    }

    @include on-desktop {
      gap: 30px;
    }
  }

  &__button--text {
    flex: 1;

    height: 100%;
    padding-inline: 24px;
    border: none;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $light-grey;
    text-align: left;

    @include on-desktop {
      padding-inline: 32px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button--arrow {
    cursor: pointer;
    background-color: $orange;
  }
}
