$green: #1a5a4c;
$orange: #f14a27;
$light-grey: #687480;
$dark-grey: #4e4e4e;
$dark-black: #0f0e08;
$black: #000;
$white: #fff;
$mobile-min-width: 320px;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$max-width: 1440px;
$effectDuration: 0.3s;
